<p class="social-media-handles-title"> Handle url should be in the form - https://www.example.com </p>

<%= form_with(url:"/SocialMediaHandlesUpdate" , method: "post", class: "social-media-handles-show") do %>
  <%= text_field_tag(:twitter_handle, nil,value: @twitter_handle, class: "form-input", placeholder: "Twitter Handle") %>
  <%= text_field_tag(:instagram_handle, nil,value: @instagram_handle, class: "form-input", placeholder: "Instagram Handle") %>
  <%= text_field_tag(:facebook_handle, nil,value: @facebook_handle, class: "form-input", placeholder: "Facebook Handle") %>
  <%= submit_tag("Update!", class: "form-submit", data: {disable_with: "Updating.."}) %>
<% end %>
