<p class="new-applicant-title"> Welcome new applicant! </p>

<%= form_with(url: applicants_path, method: "post", class: "applicant-form") do %>
  <%= text_field_tag(:name, nil, class: "form-input", placeholder: "Enter your name", autofocus: "autofocus") %>
  <div class="applicant-form-middle-block">
    <%= text_area_tag(:address, nil, size: "30x10",placeholder: "Enter Your address", class: "applicant-form-address") %>
    <div class="applicant-form-middle-block-right">
      <%= select_tag nil, options_for_select( [ ["Franchise","franchise"], ["Clerk","clerk"], ["Delivery-Boy","deliveryBoy"], ["Cleaner","cleaner"] ] ), class: "category-dropdown", name: "option" %>
      <%= email_field(nil, nil, name: "email", class: "form-input", placeholder: "Enter your E-mail") %>
      <%= telephone_field(nil, nil, name: "phone", class: "form-input", placeholder: "Contact number") %>
    </div>
  </div>
  <%= submit_tag("Submit!", class: "update-profile-submit form-submit", data: {disable_with: "Submitting.."}) %>
<% end %>
